# Python-related files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
.env

# IDE-specific files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Model checkpoints and saved models
*.pt
*.pth
*.bin
*.ckpt
trained_model*/
results*/

# Data files
*.csv
*.json
*.jsonl
*.txt

# Logs
logs/
*.log

# Temporary files
*.tmp
*.bak
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Dependency management
pip-lock.txt

# Large files and directories
data/
models/
